/* My own font */
/* u can delete it */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fuggles&family=Pixelify+Sans:wght@400;500;600;700&family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* delete it */
h1 {
	font-family: 'Pixelify Sans', cursive;
}
